*, :after, :before {
  box-sizing: border-box;
}

body {
  font-family: "Ubuntu", sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
  color: #fbbc09;
}

a:hover {
  color: #424242;
}

.bold {
  font-weight: bold;
}

h1 {
  color: #fbbc09;
  font-family: "Andika", sans-serif;
  font-size: 50px;
  font-weight: 600;
  margin-top: 50px;
}

h2 {
  color: #fbbc09;
  font-family: "Andika", sans-serif;
  font-size: 40px;
  font-weight: 600;
  margin-top: 40px;
}

h3 {
  color: #fbbc09;
  font-family: "Andika", sans-serif;
  font-size: 25px;
  font-weight: 600;
  margin-top: 35px;
}

h4 {
  color: #424242;
  font-family: "Andika", sans-serif;
  font-size: 25px;
  font-weight: 600;
}

@media screen and (min-width: 640px) {
  h1 {
    margin-top: 80px;
  }
  h2 {
    margin-top: 60px;
  }
  h3 {
    margin-top: 50px;
  }
}
@media screen and (min-width: 800px) {
  h1 {
    margin-top: 100px;
  }
  h2 {
    margin-top: 80px;
  }
  h3 {
    margin-top: 60px;
    font-size: 30px;
  }
}
header {
  background-color: #fbbc09;
  background-image: url(/images/2012MudisShiny8.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 20vh;
}
header .header__logo {
  width: 100%;
  max-width: 30vw;
  max-height: 80%;
  padding: 4vw;
}

@media screen and (min-width: 640px) {
  header {
    height: 90vh;
  }
}
nav {
  background-color: #424242;
}
nav .menu__checkbox, nav .menu__checkbox-label {
  display: none;
}
nav .menu__list {
  margin: 0;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  padding: 1em 20px;
  margin: 0;
}
nav .menu__link {
  text-decoration: none;
  color: #F6F6F6;
  font-weight: 600;
  font-size: 15px;
  padding: 1em 1em;
}
nav .menu__link:hover {
  background-color: #F6F6F6;
  color: #424242;
}
nav .menu__link:active {
  background-color: #F6F6F6;
  color: #fbbc09;
}
nav .menu__link--active {
  background-color: #F6F6F6;
  color: #424242;
}

@media screen and (max-width: 640px) {
  .menu__item-secondary {
    display: none;
  }
  .menu__link {
    font-size: 15px;
  }
}
@media screen and (min-width: 640px) {
  nav .menu__link {
    font-size: 20px;
  }
}
@media screen and (min-width: 800px) {
  nav .menu__link {
    font-size: 25px;
  }
}
footer {
  background-color: #424242;
  margin-top: 50px;
  text-align: center;
}
footer .footer__text {
  color: #fbbc09;
  padding-top: 20px;
}
footer .footer__icons {
  margin: 20px 30px;
  padding-bottom: 20px;
}
footer .footer__link {
  height: 2vh;
  padding: 0 2vw;
}
footer .footer__link .footer__link + .footer__link {
  margin-left: 0;
}

@media screen and (min-width: 640px) {
  footer {
    display: flex;
    justify-content: space-between;
  }
  footer .footer__text {
    margin: 20px 0 20px 50px;
    padding: 0;
  }
  footer .footer__icons {
    margin: 20px 50px 20px 0;
    padding: 0;
  }
}
@media screen and (min-width: 800px) {
  footer .footer__text {
    margin: 20px 0 20px 100px;
  }
  footer .footer__icons {
    margin: 20px 100px 20px 0;
  }
}
.front-intro {
  margin: 50px 0;
  text-align: center;
}
.front-intro .front-intro__text {
  font-size: 25px;
  margin: 80px auto 30px auto;
  font-weight: 600;
  width: 60%;
}
.front-intro .front-intro__text--small {
  font-size: 25px;
  font-weight: 400;
  margin-bottom: 50px;
}
.front-intro .front-intro__column {
  margin: 20px 0;
  padding: 20px;
  border-radius: 2%;
}
.front-intro .front-intro__column-container + .front-intro__text {
  margin-top: 50px;
}
.front-intro .front-intro__video {
  margin-top: 30px;
}
.front-intro .front-intro__list {
  list-style: circle;
  text-align: left;
  margin-bottom: 50px;
  display: inline-block;
  margin: auto;
  line-height: 150%;
}

.front-intro-white {
  margin-left: 50px;
  margin-right: 50px;
}

.front-intro-grey {
  background-color: #faf5f5;
}

.section-title-grey {
  padding-top: 50px;
}

.more-info-link {
  display: block;
  text-align: right;
  margin-top: 50px;
  text-decoration: none;
  font-size: 25px;
  font-weight: 400;
  color: #fbbc09;
}

.more-info-link-grey {
  padding-bottom: 50px;
}

.icon-arrow-right {
  width: 100%;
  max-width: 15px;
}

.front-team__member {
  padding: 20px;
}

.front-team__picture {
  width: 100%;
  max-width: 300px;
  border: 5px solid #fbbc09;
  border-radius: 50%;
}

.front-team__picture--float {
  float: right;
  max-width: 150px;
  margin: 10px;
}

.button {
  padding: 15px;
  background-color: #424242;
  color: #F6F6F6;
  border: none;
  border-radius: 10%;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  display: block;
  margin: 50px auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.button:hover {
  background-color: #F6F6F6;
  color: #424242;
  border: 1px solid #424242;
}

.contact-us {
  font-size: 25px;
  font-weight: 600;
  text-align: center;
}

.page__picture {
  width: 100%;
  max-width: 500px;
  display: block;
  margin: 10px auto;
}

.center {
  text-align: center;
}

.anniversary__video {
  margin: 30px 0;
}

.activities__photo {
  width: 100%;
  max-width: 200px;
  padding: 5px;
}

.team__list,
.activity__list {
  list-style: none;
}

@media screen and (min-width: 640px) {
  .front-intro__text {
    font-size: 40px;
    margin-bottom: 80px;
  }
  .page-text {
    display: grid;
    grid-template-columns: "1fr 1fr";
    grid-template-rows: "auto";
  }
  .page-text__pictures {
    grid-column: 1/2;
    grid-row: 1/2;
    margin: 50px 30px;
  }
  .page-text__text {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .page__picture {
    margin: 100px 0;
    width: 100%;
    max-width: 40vw;
  }
}
@media screen and (min-width: 800px) {
  .front-intro__column-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .front-intro__column-container .front-intro__column {
    margin-bottom: 100px;
    border: 1px solid #fbbc09;
    margin: 0 5px;
  }
  .page-intro {
    font-size: 20px;
    font-weight: bold;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
  .front-intro__column-container--anniversary {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .front-team {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .page__picture {
    max-width: 30vw;
  }
  .team {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .team .team__member {
    max-width: 500px;
    margin-bottom: 30px;
  }
  .team__list {
    list-style: none;
  }
  .infobox-container {
    display: flex;
    justify-content: center;
    margin: 20px;
  }
  .infobox-container .infobox-container__item {
    border: 1px solid #fbbc09;
    margin: 0 10px;
    max-width: 45%;
    padding: 20px;
  }
  .anniversary__video-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .anniversary__video-container .anniversary__video {
    width: 100%;
    max-width: 500px;
    margin: 30px 30px 0 0;
  }
  .anniversary__video-container .anniversary__video-box {
    text-align: center;
  }
  .activities__projects-container {
    display: grid;
    grid-template-areas: "project1  project2" "project3  project4";
  }
  .activities__projects-container .activities__project {
    margin: 30px;
  }
  .activities__projects-container .activities__project1 {
    grid-area: "project1";
  }
  .activities__projects-container .activities__project2 {
    grid-area: "project2";
  }
  .activities__projects-container .activities__project3 {
    grid-area: "project3";
  }
  .activities__projects-container .activities__project4 {
    grid-area: "project4";
  }
  .activities__projects-container .activity__project-date {
    font-weight: 600;
  }
}/*# sourceMappingURL=style.css.map */