*, :after, :before {
  box-sizing: border-box;
}

body {
  font-family: Ubuntu, sans-serif;
  margin: 0;
}

main {
  margin: 0 20px;
}

h1 {
  color: #fbbc09;
  font-size: 50px;
  font-weight: 600;
  margin-top: 50px;
}

h2 {
  color: #fbbc09;
  font-size: 40px;
  font-weight: 600;
  margin-top: 50px;
}

h3 {
  color: #fbbc09;
  font-size: 30px;
  font-weight: 600;
}

h4 {
  color: #424242;
  font-size: 25px;
  font-weight: 600;
}

header {
  background-color: #fbbc09;
  background-image: url(/images/2012MudisShiny18.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
header .header__logo {
  width: 100%;
  max-width: 20vw;
  height: 80%;
  padding: 4vw;
}

nav {
  background-color: #424242;
}
nav .menu__checkbox, nav .menu__checkbox-label {
  display: none;
}
nav .menu__list {
  margin: 0;
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 1em 0;
  margin: 0;
}
nav .menu__link {
  text-decoration: none;
  color: #F6F6F6;
  font-weight: 600;
  font-size: 20px;
  padding: 1em 1em;
}
nav .menu__link:hover {
  background-color: #F6F6F6;
  color: #424242;
}
nav .menu__link:active {
  background-color: #F6F6F6;
  color: #fbbc09;
}
nav .menu__link--active {
  background-color: #F6F6F6;
  color: #424242;
}

@media screen and (max-width: 640px) {
  .menu__item-secondary {
    display: none;
  }
}
footer {
  background-color: #424242;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
footer .footer__text {
  color: #fbbc09;
  margin: 20px 0 20px 30px;
}
footer .footer__icons {
  margin: 20px 30px;
}
footer .footer__link {
  height: 2vh;
  padding: 0 2vw;
}
footer .footer__link .footer__link + .footer__link {
  margin-left: 0;
}

.front-intro {
  margin: 50px 0;
  text-align: center;
}
.front-intro .front-intro__text {
  font-size: 25px;
  margin-bottom: 50px;
  font-weight: 600;
}
.front-intro .front-intro__text--small {
  font-size: 25px;
  font-weight: 400;
  margin-bottom: 50px;
}
.front-intro .front-intro__column {
  border: 1px solid #a8a7a7;
  margin: 20px 0;
  padding: 20px;
  background-color: #f0ebeb;
  border-radius: 5%;
}
.front-intro div[class*=video] {
  background-color: white;
}
.front-intro .front-intro__column-container + .front-intro__text {
  margin-top: 50px;
}
.front-intro .front-intro__video {
  margin-top: 30px;
}
.front-intro .front-intro__list {
  list-style: circle;
  text-align: left;
  margin-bottom: 50px;
  display: inline-block;
  margin: auto;
  line-height: 150%;
}

.front-intro + .front-intro::before {
  content: "";
  display: block;
  width: 300px;
  height: 3px;
  background-color: #a8a7a7;
  margin: 50px auto;
}

.more-info-link {
  display: block;
  text-align: right;
  margin-top: 50px;
  text-decoration: none;
  font-size: 25px;
  font-weight: 400;
  color: #fbbc09;
}

.icon-arrow-right {
  width: 100%;
  max-width: 15px;
}

.front-team__member {
  padding: 20px;
}

.front-team__picture {
  width: 100%;
  max-width: 300px;
  border: 5px solid #fbbc09;
  border-radius: 50%;
}

.front-team__picture--float {
  float: right;
  max-width: 150px;
}

.button {
  padding: 15px;
  background-color: #424242;
  color: #F6F6F6;
  border: none;
  border-radius: 10%;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  display: block;
  margin: 50px auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.button:hover {
  background-color: #F6F6F6;
  color: #424242;
  border: 1px solid #424242;
}

.contact-us {
  font-size: 25px;
  font-weight: 600;
  text-align: center;
}

.page__picture {
  width: 100%;
  max-width: 500px;
  display: block;
  margin: 10px auto;
}

.center {
  text-align: center;
}

.anniversary__video {
  margin: 30px 0;
}

@media screen and (min-width: 640px) {
  .front-intro__column-container {
    display: grid;
    grid-template-areas: "column1  column2" "column3  none";
  }
  .front-intro__column-container .front-intro__column1 {
    grid-area: "column1";
    width: 1fr;
  }
  .front-intro__column-container .front-intro__column2 {
    grid-area: "column2";
    width: 1fr;
  }
  .front-intro__column-container .front-intro__column3 {
    grid-area: "column3";
  }
  .front-intro__column-container .front-intro__column {
    margin: 10px;
    padding: 20px;
  }
  .page-text {
    display: grid;
    grid-template-columns: "1fr 1fr";
    grid-template-rows: "auto";
  }
  .page-text__pictures {
    grid-column: 1/2;
    grid-row: 1/2;
    margin: 50px 30px;
  }
  .page-text__text {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .page__picture {
    margin: 100px 0;
    width: 100%;
    max-width: 40vw;
  }
  .anniversary__video-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .anniversary__video-container .anniversary__video {
    width: 100%;
    max-width: 250px;
    margin: 30px 30px 0 0;
  }
  .anniversary__video-container .anniversary__video-box {
    text-align: center;
  }
}
@media screen and (min-width: 800px) {
  .front-intro__column-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .front-intro__column-container .front-intro__column + .front-intro__column {
    margin-left: 20px;
  }
  .front-team {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .page__picture {
    max-width: 30vw;
  }
  .team {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .team .team__member {
    max-width: 500px;
    margin-bottom: 30px;
  }
  .team__list {
    list-style: none;
  }
  .anniversary__video-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}/*# sourceMappingURL=style.css.map */