@use 'colors';

*, :after, :before {
    box-sizing: border-box;
  }

body {
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
}

main {
    margin: 0 20px;
}

h1 {
    color: colors.$primary;
    font-family: 'Andika', sans-serif;
    font-size: 50px;
    font-weight: 600;
    margin-top: 100px;
}

h2 {
    color: colors.$primary;
    font-family: 'Andika', sans-serif;
    font-size: 40px;
    font-weight: 600;
    margin-top: 80px;
}

h3 {
    color: colors.$primary;
    font-family: 'Andika', sans-serif;
    font-size: 30px;
    font-weight: 600;
    margin-top: 50px;
}

h4 {
    color: colors.$box-color;
    font-family: 'Andika', sans-serif;
    font-size: 25px;
    font-weight: 600;
}