@use 'colors';

*, :after, :before {
    box-sizing: border-box;
  }

body {
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
    color: colors.$primary;
    
}

a:hover {
    color: colors.$box-color;
}

.bold {
    font-weight: bold;
}

h1 {
    color: colors.$primary;
    font-family: 'Andika', sans-serif;
    font-size: 50px;
    font-weight: 600;
    margin-top: 50px;
}

h2 {
    color: colors.$primary;
    font-family: 'Andika', sans-serif;
    font-size: 40px;
    font-weight: 600;
    margin-top: 40px;
}

h3 {
    color: colors.$primary;
    font-family: 'Andika', sans-serif;
    font-size: 25px;
    font-weight: 600;
    margin-top: 35px;
}

h4 {
    color: colors.$box-color;
    font-family: 'Andika', sans-serif;
    font-size: 25px;
    font-weight: 600;
}

@media screen and (min-width: 640px) {

    h1 {
        margin-top: 80px;
    }

    h2 {
        margin-top: 60px;
    }

    h3 {
        margin-top: 50px;
    }
}

@media screen and (min-width: 800px) {
    h1 {
        margin-top: 100px;
    }

    h2 {
        margin-top: 80px;
    }

    h3 {
        margin-top: 60px;
        font-size: 30px;
    }
}
