$primary: #fbbc09; // oranžová
$secondary: #F6F6F6; // bílá, taková, co je na bornfree
$box-color: #424242; // tmavě šedá, podkres menu
$box-color-light: #f0ebeb; 
$text-color-light: #a8a7a7; // světle šedá, jako na logu
$text-color-dark: #666697; // tmavší šedomodrá