@use 'colors';


footer {
    background-color: colors.$box-color;
    display: flex;
    justify-content: space-between;

    .footer__text {
        color: colors.$primary;
        margin: 20px 0 20px 30px;
        
    }
    
    .footer__icons {
        margin: 20px 0 20px 30px;
    }
    
    .footer__link {
        height: 2vh;
        padding: 0 2vw;
    
    .footer__link + .footer__link {
        margin-left: 0;
    }
    }
    
}
