@use 'colors';

header {
    background-color: colors.$primary;
    background-image: url(/images/2012MudisShiny8.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 20vh;

    .header__logo {
        width: 100%;
        max-width: 30vw;
        max-height: 80%;
        padding: 4vw;
    }
}

@media screen and (min-width: 640px) {
    header {
        height: 60vh;
    }
}



