@use 'colors';

header {
    background-color: colors.$primary;
    background-image: url(/images/2012MudisShiny18.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    .header__logo {
        width: 100%;
        max-width: 200px;
        padding: 30px 20px 10px 20px;
    }
}

@media screen and (min-width: 715px){

header {
    height: 40vh;
}
    

    
}

