@use 'colors';

header {
    background-color: colors.$primary;
    background-image: url(/images/2012MudisShiny18.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    

    .header__logo {
        width: 100%;
        max-width: 20vw;
        height: 80%;
        padding: 4vw;
    }
}



