@use 'colors';
@use 'basic';
@use 'header';
@use 'menu';
@use 'footer';



.front-intro {
    margin: 50px 0;
    text-align: center;

    .front-intro__text {
        font-size: 25px;
        margin-bottom: 50px;
        font-weight: 600;
    }

    .front-intro__text--small {
        font-size: 25px;
        font-weight: 400;
        margin-bottom: 50px;
    }
    
    .front-intro__column {
        border: 1px solid colors.$text-color-light;
        margin: 20px 0;
        padding: 20px;
        background-color: colors.$box-color-light;
        border-radius: 5%;
    }

    div[class*="video"] {
        background-color: white;
    }
    
    .front-intro__column-container + .front-intro__text {
        margin-top: 50px;
    }

    .front-intro__video {
        width: 100%;
        max-width: 90vw;
        margin-top: 30px;
    }
    
    .front-intro__list {
        list-style: circle;
        text-align: left;
        margin-bottom: 50px;
        display: inline-block;
        margin: auto;
        line-height: 150%;
    }
}

.front-intro + .front-intro::before {
    content: "";
    display: block;
    width: 300px;
    height: 3px;
    background-color: colors.$text-color-light;
    margin: 50px auto;
    
}

.more-info-link {
    display: block;
    text-align: right;
    margin-top: 50px;
    text-decoration: none;
    font-size: 25px;
    font-weight: 400;
    color: colors.$primary; 
    
}

.icon-arrow-right {
    width: 100%;
    max-width: 15px;
}

.front-team__member {
    padding: 20px;
}

.front-team__picture {
    width: 100%;
    max-width: 300px;
    border: 5px solid colors.$primary;
    border-radius: 50%;
}

.front-team__picture--float {
    float: right;
    max-width: 150px;
}

.button {
    padding: 15px;
    background-color: colors.$box-color;
    color: colors.$secondary;
    border: none;
    border-radius: 10%;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    display: block;
    margin: 50px auto;
    width: fit-content;
}

.button:hover {
    background-color: colors.$secondary;
    color: colors.$box-color;
    border: 1px solid colors.$box-color;
}



.contact-us {
    font-size: 25px;
    font-weight: 600;
    text-align: center;
}

.page__picture {
    width: 100%;
    max-width: 500px;
    display: block;
    margin: 10px auto;
}

.bold {
    font-weight: 600;
}

@media screen and (min-width: 640px) {
    .front-intro__column-container {
        display: grid;
        grid-template-areas: 
        "column1  column2"
        "column3  none";

        .front-intro__column1 {
            grid-area: "column1";
            width: 1fr;
        }

        .front-intro__column2 {
            grid-area: "column2";
            width: 1fr;
        }

        .front-intro__column3 {
            grid-area: "column3";
        }

        .front-intro__column {
            margin: 10px;
            padding: 20px;
        }
    }

    .page-text {
        display: grid;
        grid-template-columns: "1fr 1fr";
        grid-template-rows: "auto";
    }
    .page-text__pictures {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        margin: 50px 30px; 
    }

    .page-text__text {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }

    .page__picture {
        margin: 100px 0;
        width: 100%;
        max-width: 40vw;
    }
   
}

@media screen and (min-width: 800px) {
    .front-intro__column-container {
        display: grid;
        grid-template-columns: repeat( 3, 1fr );
    
        .front-intro__column + .front-intro__column {
            margin-left: 20px;
        }
    }

    .front-team {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .page__picture {
        max-width: 30vw;
    }

    .team {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;

        .team__member {
            max-width: 500px;
            margin-bottom: 30px
        }  
    }
    
    .team__list {
        list-style: none;
    }
}