<footer>
    <p class="footer__text">&copy United Games of Nations 2022</p>
    <div class="footer__icons">
        <a href="https://www.facebook.com/ugczech/"><img src="/icons/facebook.svg" alt="ikona facebook" class="footer__link"></a>
        <a href="https://www.instagram.com/ugolomouc/"><img src="/icons/instagram.svg" alt="ikona instagram" class="footer__link"></a>
        <a href="mailto:ug@ddmolomouc.cz"><img src="/icons/posta.svg" alt="ikona e-mail" class="footer__link"></a>
    </div>
</footer>