<nav class="menu">
    <input type="checkbox" class="menu__checkbox" id="menu__checkbox">
    <label for="menu__checkbox" class="menu__checkbox-label">☰</label>

    <ul class="menu__list">
        <li class="menu__item menu__item-secondary"> <a href="" class="menu__link {{ 'menu__link--active' if page.fileSlug === '' }} ">Úvod</a></li>
        <li class="menu__item menu__item-secondary"> <a href="/o-nas/" class="menu__link {{ 'menu__link--active' if page.fileSlug === 'o-nas' }}">O nás</a></li>
        <li class="menu__item menu__item-secondary"> <a href="/lide/" class="menu__link {{ 'menu__link--active' if page.fileSlug === 'lide' }}">Lidé</a></li>
        <li class="menu__item menu__item-primary"> <a href="/aktivity/" class="menu__link {{ 'menu__link--active' if page.fileSlug === 'aktivity' }}">Aktivity</a></li>
        <li class="menu__item menu__item-primary"> <a href="/30-let/" class="menu__link {{ 'menu__link--active' if page.fileSlug === '30-let' }}">30 let</a></li>
        <li class="menu__item menu__item-primary"> <a href="/pridej-se/" class="menu__link {{ 'menu__link--active' if page.fileSlug === 'pridej-se' }}">Přidej se</a></li>
    </ul>
</nav>