<nav class="menu">
    <ul class="menu__list">
        <li class="menu__item{{ if page.fileSlug === '' 'menu__item--activated' }}"><a href="" class="menu__link">Úvod</a></li>
        <li class="menu__item{{ if page.fileSlug === 'o-nas' 'menu__item--activated' }}"><a href="/o-nas/" class="menu__link">O nás</a></li>
        <li class="menu__item{{ if page.fileSlug === 'lide' 'menu__item--activated' }}"><a href="/lide/" class="menu__link">Lidé</a></li>
        <li class="menu__item{{ if page.fileSlug === 'aktivity' 'menu__item--activated' }}"><a href="/aktivity/" class="menu__link">Aktivity</a></li>
        <li class="menu__item{{ if page.fileSlug === '30-let' 'menu__item--activated' }}"><a href="/30-let/" class="menu__link">30 let</a></li>
        <li class="menu__item{{ if page.fileSlug === 'pridej-se' 'menu__item--activated' }}"><a href="/pridej-se/" class="menu__link">Přidej-se</a></li>
        <li class="menu__item{{ if page.fileSlug === 'kontakt' 'menu__item--activated' }}"><a href="/kontakt/" class="menu__link">Kontakt</a></li>
    </ul>
</nav>