---
layout: /layouts/main-template.njk
---
{% include 'partials/header.njk' %}
{% include 'partials/menu.njk' %}
    <main>
        {{ content | safe }}
        <p class="contact-us">Zajímavý, že jo? :-)</p>
        <a href="mailto:ug@ddmolomouc.cz" class="button button-inpage">Napiš Áje</a>
    </main>
{% include 'partials/footer.njk' %}