---
layout: /layouts/main-template.njk
---
{% include 'partials/header.njk' %}
{% include 'partials/menu.njk' %}
    <main class="center">
        {{ content | safe }}
    </main>
{% include 'partials/footer.njk' %}